.dropdown {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 0 0 0 5rem;
    margin-right: 12rem;
    border-left: solid 1px #E1E1E1;
}
.dropdown__circle {
    height: 56px;
    width: 56px;
    background-color: #E1E1E1;
    border-radius: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    margin-right: 1.7rem;
}
.dropdown__title {
    font-size: 22px;
    text-transform: uppercase;
    color: #666666;
    margin-right: 1.5rem;
}