.modal {
  font-size: 12px;
  border-radius: 15px;
}

.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    color: #FF5E85;
    margin-bottom: 2rem;
}

.modal > .content {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    color: #666666;
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.popup-content {
    margin: auto;
    background: #fff;
    width: 50%;
    height: 500px;
    padding: 5px;
    border: 1px solid #d7d7d7;
    border-radius: 50px;
}

.modal__button-send {
    background-color: #44aa2b;
    color: #f7f5f5;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 25px;
    bottom: 50px;
    right: 50px;
    width: 257px;
    height: 64px;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 7%);
}

.modal__button-send:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modal__bouton-back {
    background-color: #FFFFFF;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 25px;
    left: 50px;
    bottom: 50px;
    width: 257px;
    height: 64px;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 7%);
}

.modal__bouton-back:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
}

