.card__date {
    color: #666666;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}

.card__subtitle {
    color: #FF5E85;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;

}