.main {
    height: 935px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.main__section {
    display: flex;
    width: 100%;
    margin: 5rem 0 7rem 0;
    justify-content: center;
}


.main__addbutton .button {
    display: flex;
    height: 97px;
    width: 97px;
    background: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    cursor: pointer;
    border: none;
}

.main__addbutton > button {
    font-weight: 500;
    font-size: 60px;
    color: #666666;
    margin: auto;
    cursor: pointer;
}

.main__addbutton > button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


