
.card__button-green {
    background-color: #49A590;
    color: #FFFFFF;
}
.card__button-green:hover {
    cursor: pointer;
    background-color: #49A590;
    color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card__button-lightgreen {
    background-color: rgb(218, 242, 163, 0.4196078431372549);
    color: #666666;
}
.card__button-lightgreen:hover {
    cursor: pointer;
    background-color: rgb(218, 242, 163, 0.4196078431372549);
    color: #666666;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card__button-pink {
    background-color: #FF5E85;  
    color: #FFFFFF;
}
.card__button-pink:hover {
    cursor: pointer;
    background-color: #FF5E85;
    color: #FFFFFF;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card__button {
    border: none;
    margin: 7px;
    border-radius: 20px;
    padding: 0px 15px;
}

.card__button .card__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
