.navbar {
    display: flex;
    justify-content: space-between;
    height: 145px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 7%);
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 53px;
}

.navbar__tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
