.footer {
    background-color: #F8F8F8;
    display: flex;
    justify-content: flex-end;
}

.footer__button {
    background-color: #FFFFFF;
    color: #666666;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    border: none;
    border-radius: 25px;
    bottom: 50px;
    right: 50px;
    width: 257px;
    height: 64px;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 7%);
}

.footer__button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}