.card__description-title {
    height: 32px;
    margin-bottom: 5px;
}

.card__title-black {
    color: #666666;
    text-transform: uppercase;
}

.card__title-pink {
    color: #FF5E85;
    text-transform: uppercase;
}