.button {
    width: 365px;
    height: 90%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin: 15px 0.5rem 0 0.5rem;
    cursor: pointer;
}

.button:hover {
    background-color: #F8F8F8;
}

.button__title {
    font-size: 30px;
    text-align: center;
    color: #FF5E85;
}