.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 219px;
    width: 95%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 10px 35px rgb(0 0 0 / 7%);
}

.card:hover {
    box-shadow: 0px 10px 35px rgb(0 0 0 / 7%);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card__container {
    display: flex;
    margin-left: 3rem;
}

.card__description {
    display: flex;
}

.card__photo {
    background-image: url('../../../assets/photo.jpg');
    background-position: center;
    background-size: cover;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    /* background: #666666; */
    margin: auto 50px auto 5px;
}

.card__title {
    color: #FF5E85;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}

.card__title-suffix {
    color: #666666 
}

.card__buttonlist {
    flex-direction: column;
    display: flex;
    align-self: flex-start;
    /* padding: 0px 0 10rem 50rem; */
    /* position: absolute; */
    /* right: 57px; */
    /* bottom: 440px; */
}